<div class="loginUser">
    <h2>Usuario creado!!!!</h2>
    <h4>Bienvenido {{this.First_Name}} {{this.Last_Name}} </h4>

    <a id="buttonSession" href="http://localhost:4000/logout">Cerrar sesion</a>
</div>